# StarKissed Extras

on boot

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# Execute files in /system/etc/init.d before booting
service run-parts /sbin/busybox run-parts /system/etc/init.d
    class main
    oneshot
